#if (${PackageName} && ${PackageName} != "")
package ${PackageName};

#end

import ${EspressoPackageName}.espresso.ViewInteraction;
import android.support.test.rule.ActivityTestRule;
import android.support.test.runner.AndroidJUnit4;
import android.test.suitebuilder.annotation.LargeTest;
import android.view.View;
import android.view.ViewGroup;
import android.view.ViewParent;

import static ${EspressoPackageName}.espresso.Espresso.onView;
import static ${EspressoPackageName}.espresso.Espresso.pressBack;
import static ${EspressoPackageName}.espresso.contrib.RecyclerViewActions.actionOnItemAtPosition;
import static ${EspressoPackageName}.espresso.action.ViewActions.*;
import static ${EspressoPackageName}.espresso.assertion.ViewAssertions.*;
import static ${EspressoPackageName}.espresso.matcher.ViewMatchers.*;

import ${ResourcePackageName}.R;

import org.hamcrest.Description;
import org.hamcrest.Matcher;
import org.hamcrest.TypeSafeMatcher;
import org.junit.Rule;
import org.junit.Test;
import org.junit.runner.RunWith;

import static org.hamcrest.Matchers.allOf;
import static org.hamcrest.Matchers.is;

@LargeTest
@RunWith(AndroidJUnit4.class)
public class ${ClassName} {

    @Rule
    public ActivityTestRule<${TestActivityName}> mActivityTestRule = new ActivityTestRule<>(${TestActivityName}.class);

    @Test
    public void ${TestMethodName}() {
    #foreach (${line} in ${TestCode})
    ${line}
    #end
    }

    #if (${AddChildAtPositionMethod})
    private static Matcher<View> childAtPosition(
            final Matcher<View> parentMatcher, final int position) {

        return new TypeSafeMatcher<View>() {
            @Override
            public void describeTo(Description description) {
                description.appendText("Child at position " + position + " in parent ");
                parentMatcher.describeTo(description);
            }

            @Override
            public boolean matchesSafely(View view) {
                ViewParent parent = view.getParent();
                return parent instanceof ViewGroup && parentMatcher.matches(parent)
                        && view.equals(((ViewGroup)parent).getChildAt(position));
            }
        };
    }
    #end
}
